server:
  port: 8087

spring:
  datasource:
    url: jdbc:mysql://localhost/bank_cliente?createDatabaseIfNotExist=true&serverTimeZone=UTC
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: update
      properties: org.hibernate.dialect.MySQL8Dialect
      jdbc:
        lob.non-contextual-creation: true
    properties:
      hibernate:
        show_sql: true

